@model IEnumerable<BeerPongAssociation.Models.Tournament>

@{
    ViewBag.Title = "Browse";
}
<p class="nav-pane">
    @if (ViewContext.HttpContext.User.IsInRole("Administrators"))
    {
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Tournaments")'">Create new Tournament</button>
    }
</p>
<h2>All tournaments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Administrators"))
            {
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Tournaments", new { id=item.Id })'">Delete</button>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Tournaments", new { id=item.Id })'">Edit</button>
            }
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Tournaments", new { id=item.Id })'">Details</button>
        </td>
    </tr>
}

</table>
