@model BeerPongAssociation.Models.Tournament

@{
    ViewBag.Title = "Details";
}

<div class="tourn">
    <h2 class="wrap">@Model.Name</h2>
    <h4 class="wrap">@Model.Location  |  start date : @Model.StartDate.ToShortDateString()  |  end date : @Model.EndDate.ToShortDateString()</h4>
</div>
<hr />
<div class="tourn big-form">
    @Model.Description
</div>
<p style="margin-top:15px">
    @if (ViewContext.HttpContext.User.IsInRole("Administrators"))
    {
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Tournaments", new { id = Model.Id })'">Edit</button>
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Tournaments", new { id = Model.Id })'">Delete</button>
    }
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Browse", "Tournaments")'">Go to All tournaments</button>
</p>
