@model IEnumerable<BeerPongAssociation.Models.Player>

@{
    ViewBag.Title = "Browse";
}
<p class="nav-pane">
    @if (ViewContext.HttpContext.User.IsInRole("Administrators"))
    {
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Players")'">Add new Pro Player</button>
    }
</p>
<h2>All Pros Database</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeftHandPrecision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RightHandPrecision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stamina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mentality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessionalCareer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalIfno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popularity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicturePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeftHandPrecision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RightHandPrecision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stamina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mentality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BestResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionalCareer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalIfno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Popularity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicturePath)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Administrators"))
            {
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Players", new { id=item.Id })'">Delete</button>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Players", new { id=item.Id })'">Edit</button>
            }
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Players", new { id=item.Id })'">Details</button>
        </td>
    </tr>
}

</table>
