@model IEnumerable<BeerPongAssociation.Models.Article>

@{
    ViewBag.Title = "Browse";
}

<p class="nav-pane">
    
</p>
<h2>Articles table</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Administrators"))
            {
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Articles", new { id=item.Id })'">Edit</button>
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Articles", new { id=item.Id })'">Delete</button>
            }
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Articles", new { id=item.Id })'">Details</button>
        </td>
    </tr>
}

</table>
