@using BeerPongAssociation.MiscClasses;

@model IEnumerable<BeerPongAssociation.Models.News>

@{
    ViewBag.Title = "Browse";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            Last comment
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @TextManipulation.ShortenText(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments.Count)
        </td>
        <td>
            @if (item.Comments.Count > 0)
            {
                var date = item.Comments.OrderByDescending(c => c.Date).First().Date;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
