@using Microsoft.AspNet.Identity;

@model BeerPongAssociation.Models.News

@{
    ViewBag.Title = "Details";
}

<div class="news">
    <h2 class="wrap">@Model.Title</h2>
    @{
        string author = Model.Author.FullName == null ? Model.Author.Email : Model.Author.FullName;
        <h4 class="wrap">by @author on @Model.Date.ToShortDateString()</h4>
    }
</div>
<hr />
<div class="news big-form">
    @Model.Body
</div>
<p style="margin-top:15px">
    @if (ViewContext.HttpContext.User.IsInRole("Administrators"))
    {
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "News", new { id = Model.Id })'">Delete</button>
    }
    @if (ViewContext.HttpContext.User.IsInRole("Administrators") || (Model.Author != null && User.Identity.GetUserId() == Model.Author.Id))
    {
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "News", new { id = Model.Id })'">Edit</button>
    }
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Browse", "News")'">Go to News table</button>
</p>
