@using BeerPongAssociation.MiscClasses;

@model IEnumerable<BeerPongAssociation.Models.News>

@{
    ViewBag.Title = "Index";
}

<h2>Latest news</h2>

<p>
    @Html.ActionLink("Browse news", "Browse")
</p>
<section class="row">
    @foreach (var news in Model.OrderByDescending(n => n.Date))
    {
        <article class="col-md-6">
            <h2><a href="@Url.Action("Details", "News", new { id = news.Id })">@news.Title</a></h2>
            <p>@TextManipulation.ShortenText(news.Body, 50)</p>
            <div>
                posted @news.Date.ToString("dd/MM/yyyy")
                @if (news.Tags.Count > 0)
                {
                    <i> in @string.Join(" ,", news.Tags.Select(t => t.Name).ToList())</i>
                }
            </div>
        </article>
    }
</section>
