@using BeerPongAssociation.MiscClasses;

@model IEnumerable<BeerPongAssociation.Models.News>

@{
    ViewBag.Title = "Index";
}

<p class="nav-panel">
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Browse", "News")'">View all</button>
    @if (ViewContext.HttpContext.User.IsInRole("Administrators") || ViewContext.HttpContext.User.IsInRole("Contributors"))
    {
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "News")'">Create a news</button>
    }
</p>
<h2>Latest news</h2>
<section class="row">
    @foreach (var news in Model.OrderByDescending(n => n.Date))
    {
        <article class="col-md-4">
            <div class="news wrap">
                <h2><a href="@Url.Action("Details", "News", new { id = news.Id })">@news.Title</a></h2>
                <p class="wrap">@TextManipulation.ShortenText(news.Body)</p>
                <div>
                    posted @news.Date.ToShortDateString()
                    @if (news.Tags.Count > 0)
                    {
                        <i> in @string.Join(" ,", news.Tags.Select(t => t.Name).ToList())</i>
                    }
                    else
                    {
                        <i> in general</i>
                    }
                </div>
            </div>
        </article>
    }
</section>
