@{
    ViewBag.Title = "Home Page";
}

@using BeerPongAssociation.Models
@using BeerPongAssociation.MiscClasses;

@model List<News>

<section class="row">
    <article class="welcome col-md-12">
        <h2>Welcome to the official Bulgarian Beer Pong Association website</h2>
        <p>
            The ultimate source for everything "beer pong" in Bulgaria and around the world. Get the latest news in the sport, tournament results, league standings and more!
        </p>
    </article>
</section>
<section class="row">
    @foreach (var news in Model)
    {
        <article class="col-md-6">
            <h2><a href="@Url.Action("Details", "News", new { id = news.Id })">@news.Title</a></h2>
            <p>@TextManipulation.ShortenText(news.Body, 50)</p>
            <div>posted @news.Date.ToString("dd/MM/yyyy") 
            @if (news.Tags.Count > 0)
            {
                <i> in @string.Join(" ,", news.Tags.Select(t => t.Name).ToList())</i>
            }
            </div>
        </article>
    }
   
</section>
